{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-top-level-await"
  ],
  "presets": [
    "@babel/preset-react",
    [ "@babel/env", { "targets":{ "node":"15" } } ]
  ]
}